.idea/*

.env
.env.backup

vendor
.phpstorm.meta.php

docker/.env
docker/projects

application/venv/
application/application/__pycache__/
application/robotbenchmark/__pycache__/
application/robotbenchmark/enums/__pycache__/
application/robotbenchmark/filters/__pycache__/
application/robotbenchmark/managment/__pycache__/
application/robotbenchmark/migrations/__pycache__/
application/robotbenchmark/serializers/__pycache__/
application/robotbenchmark/swagger_schemas/__pycache__/
application/robotbenchmark/views/__pycache__/